body{
    background-color: rgb(255, 255, 216);
    margin: 0px;
}
.head{
    color: rgb(56, 56, 56);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 50px;
    font-size: 20px;
    background-color: rgba(186, 245, 24, 0.717);
    padding: 2px 20px;
}

.recipes-list{
    display: inline;
    border: 2px dashed black ;
    margin: 20px;
    padding: 5px;
    color: rgb(56, 56, 56);
    background-color: rgba(186, 245, 24, 0.717);
}
.recipes-list a{
    color: rgb(56, 56, 56) ;

    font-weight: bold;
}
.headers{
    color: rgb(56, 56, 56);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
li{
    list-style-type: none;
    color: rgb(72, 71, 71);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    color: rgb(72, 71, 71);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: auto;
  
}
